@import url('http://fonts.cdnfonts.com/css/geometria')

* 
  font-family: 'Geometria', sans-serif



body, footer
    margin: 0

#newsletter 
    display: flex
    background-color: #B440B5
    height: 5vh

#newsletter img 
    max-width: 8.5%
    justify-content: left

#newsletter span
    color: white

#newsletter button
    border: none
    border-radius: 7px
    background-color: green
    color: white

#champs_newsletter
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
        
#champs_newsletter span,  
    align-items: center
    color: white
    opacity: 34%
    justify-content: center
    
input:placeholder-shown
    font-style: italic